<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body class="bg-dark">

<navbar th:include="fragments/navbar"></navbar>
<div th:include="fragments/jumbotron"></div>

<div class="container bg-info">

    <h1 class="display-1 text-center">My Book List</h1>

    <div th:if="${noBooksFound}">

        <h3 class="display-3" text-center>No books were found.</h3>

    </div>

    <div th:each="book: ${books}" class="card" style="width: 18rem;">
        <div class="card-body bg-warning">
            <h5 th:text="${book.title}" class="card-title">Book Title</h5>
            <h6 th:text="${book.author}" class="card-subtitle mb-2 text-muted">Book Author</h6>

            <p th:text="${book.genre}" class="card-text"></p>
            <p th:text="${book.releasedDate}" class="card-text"></p>

            <a th:href="'/books/' + ${book.id} + '/edit'" class="btn btn-dark btn-sm rounded-pill">Edit</a>
        </div>

    </div>
    <br>
    <a href="/books/create" type="button" class="btn btn-primary btn-lg rounded-pill">Add a Book</a>
    <br>
    <br>
</div>

</body>
</html>
