<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body class="bg-dark">
<h1 class="display-1">View Book</h1>
<div class="container bg-info">
    <h3 class="display-3">Title: <span th:text="${showBook.title}"></span></h3>
    <p>Author: <span th:text="${showBook.author}"></span></p>
    <p>Genre: <span th:text="${showBook.genre}"></span></p>
    <p>Released Date: <span th:text="${showBook.releasedDate}"></span></p>


<a href="/books" class="btn btn-primary btn-sm rounded-pill">Back to list</a>
    <br>
    <br>
</div>
</body>
</html>
