<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>

<h1>Spring Boot Ads Application</h1>

<!--conditional if no ads are in the list-->

<div th:if="${noAdsFound}">

  <h3>No ads were found.</h3>

</div>

<!--Lists out the ads in the list-->

<div th:each="ad: ${ads}">

  <h3 th:text="${ad.title}"></h3>
  <p th:text="${ad.description}"></p>
    <a href="'/ads/'+${ad.id}+'/edit'"></a>

</div>

<a href="/ads/create">Create and Ad</a>

</body>
</html>
