<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data View</title>
</head>
<body>

<h1>Hello, <span th:text="${name}">World</span></h1>

</body>
</html>
