<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<div th:include="fragments/navbar"></div>

<h1>Employees</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Message</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee : ${employees}">
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.email}"></td>
    <td th:text="${employee.role}"></td>
    <td th:if="${employee.role}=='ADMIN'">User is admin.</td>
  </tr>
  </tbody>
</table>
</body>
</html>
